Dockerfile
.dockerignore
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
README.md
.env*
!.env.template
.next
.git
.gitignore
.eslintrc.json
.vscode
*.log
coverage
.nyc_output
.cache
.parcel-cache
.DS_Store
*.tsbuildinfo
next-env.d.ts
.vercel
.turbo
h
